Repository archesproject/arches, pull requests merged in 2024-11, with the labels that each got.

#11576 11575 frontload restricted instances in `get_related_resources`
  arches/app/models/resource.py
  releases/7.6.2.md
Labels: Subject: Performance, Release: 7.6.2

#11531 Resolve DeprecationWarning and ResourceWarning in excel importers
  README.md
  arches/app/etl_modules/base_import_module.py
  arches/app/etl_modules/branch_excel_importer.py
  arches/app/etl_modules/tile_excel_importer.py
  arches/app/utils/file_validator.py
  docker/entrypoint.sh
  pyproject.toml
  releases/7.6.0.md
  releases/8.0.0.md
  tests/utils/test_file_validator.py
Labels: Subject: Performance, Subject: Bulk Data Manager

#11584 11583 leverage cache for related resource relationship preflabel lookup
  arches/app/models/resource.py
  releases/7.6.4.md
  tests/test_settings.py
  tests/views/resource_tests.py
Labels: Subject: Performance, Release: 7.6.4
